<ion-header>
    <ion-toolbar>
        <ion-title>Details per Student</ion-title>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            Food Wastage by {{name}}
        </ion-card-header>
        <ion-card-content>
            <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Total food wasted by {{name}} this week
        </ion-card-header>
        <ion-card-content>
            {{waste}} gm
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Total penalty of {{name}} for this week
        </ion-card-header>
        <ion-card-content>
            Rs. {{penalty}}
        </ion-card-content>
    </ion-card>
</ion-content>
