<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="--background: #043157;">

    
    <ion-icon name="contract" class = "logo" color = "light"></ion-icon>
    
    <ion-item class = "heading" style="--background: #043157;">
        <ion-label>Food Waste Management</ion-label>       
    </ion-item>

     <ion-item class = "subheading" style="--background: #043157;">
        <ion-label>An app to track food wasted by the students.</ion-label>
    </ion-item>
     
    <ion-grid block>
        <ion-row class = "rowstyle">
            <ion-item class = "item">
                <ion-label position="floating" style="--background: #043157;">Username</ion-label>
                <ion-input type = "text" [(ngModel)]="username"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item class = "rowstyle">
                <ion-label position="floating" style="--background: #043157;">Password</ion-label>
                <ion-input type = "password" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-row>
    </ion-grid>
    

    
    
    <ion-button fill = "solid" expand = "block" color = "dark" (click) = "login()" class = "buttonstyle">Login</ion-button>

    <ion-button fill = "clear" expand = "block" color = "light" (click) = "register()" class = "buttonstyle">Don't have an account? Signup</ion-button>
    
</ion-content>
