.logo{
  font-size: 25vh;
  margin-top: 25px;
  margin-left: 90px;
  margin-bottom: 20px;
}

.heading
{
  color:lightgray;
  font-size: 4vh;
  
}

.subheading
{
  color:lightgray;
  font-size: 2vh;
  margin-left: 15px;
  margin-bottom: 20px;
  
}

.background{
    background-color: rgb(2, 44, 99);
  }


.rowstyle{
  margin-bottom: 15px;
  font-size: 1em;
  width: 100%;
  display:table;
  

}

.buttonstyle{
  margin-top: 25px;
}

.item{
  border-radius:40px;
}